name: 'PR'

on:
  pull_request:
    branches: [ master ]
    types: [opened, edited, synchronize, reopened]

permissions:
  actions: write
  checks: write
  pull-requests: write
  contents: read

jobs:
  pr-check:
    name: PR conventions
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title
        uses: deepakputhraya/action-pr-title@077bddd7bdabd0d2b1b25ed0754c7e62e184d7ee
        with:
          regex: 'feature|feat|fix|bugfix|build|chore|docs|hotfix|release:\W.+'

  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: dtolnay/rust-toolchain@nightly
      with:
        components: rustfmt
    - run: cargo build
    - uses: mbrobbel/rustfmt-check@9a22c8ce35fa788e7db3bfb4c814ad1c13b4d5be # v0.20.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        mode: review

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: dtolnay/rust-toolchain@631a55b12751854ce901bb631d5902ceb48146f7 # v1.93.1
      with:
        components: clippy
    - uses: actions-rs/clippy-check@b5b5f21f4797c02da247df37026fcd0a5024aa4d # v1.0.7
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-features -- -Dwarnings
