name: 'lint'

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: dtolnay/rust-toolchain@631a55b12751854ce901bb631d5902ceb48146f7 # v1.93.1
      with:
        components: rustfmt
    - uses: mbrobbel/rustfmt-check@9a22c8ce35fa788e7db3bfb4c814ad1c13b4d5be # v0.20.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: dtolnay/rust-toolchain@631a55b12751854ce901bb631d5902ceb48146f7 # v1.93.1
      with:
        components: clippy
    - uses: actions-rs/clippy-check@b5b5f21f4797c02da247df37026fcd0a5024aa4d # v1.0.7
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-features -- -Dwarnings

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: dtolnay/rust-toolchain@631a55b12751854ce901bb631d5902ceb48146f7 # v1.93.1
    - run: cargo build
    - name: Cache deps
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - run: cargo test --all-features
